<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta title="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div class="navbar">
        <div class="navbar-like toolTip">
          <i @click="sortLikedProducts" class="fas fa-heart"></i>
          <div v-if="isAnyProductLiked" class="redDot"></div>
        </div>
        <div class="navbar-basket toolTip">
          <i @click="sortBasketProducts" class="fas fa-shopping-basket"></i>
          <div v-if="isAnyProductInBasket" class="redDot"></div>
        </div>
      </div>

      <main>
        <div id="product" class="container">
          <div v-for="(item, index) in productData">
            <div v-bind:key="index">
              <product
                :title="item.title"
                :image="item.image"
                :price="item.price"
                :index="index"
                :like="item.like"
                :quantity="item.quantity"
                @add-to-basket="addToBasket"
                @like-product="likeProduct"
              >
              </product>
            </div>
          </div>
        </div>
        <div id="basket" class="container">
          <div class="basket">
            <div class="basket-header">
              <h1>Your Basket</h1>
            </div>
            <div class="basket-content">
              <basket
                v-for="(item, index) in basketData"
                :index="index"
                :title="item.title"
                :image="item.image"
                :price="item.price"
                :quantity="item.quantity"
                :like="item.like"
                @increment="increment"
                @decrement="decrement"
                @remove="remove"
              ></basket>
            </div>
            <div class="basket-footer">
              <p>Total: {{ total }}</p>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer type="module" src="script.js"></script>
  </body>
</html>
